:root {
  --bg-contrast-low: #ecefec;
  --bg-secondary: #ffffff;
  --bg-primary: #30a46c;
  --color-border: rgba(0, 0, 0, 0.1);
  --color-hover: #ddf3e4;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  margin: 0;
  font-size: 14px;
}

input {
  height: 40px;
  padding: 0px 1em;
  border: 1px solid silver;
  border-radius: 5px;
}

button {
  height: 40px;
  padding: 0 0.5em;
  border: none;
  cursor: pointer;
  &[type="submit"] {
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
    border-radius: 100px;
    padding: 0px 2em;
  }
}
